<div class="container">
    <div class="row">
        <table class=" table table-responsive table-striped table-bordered">
            <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Admin?</th>
                <th>Created On</th>
            </tr>
            </thead>
            <tbody>
            {{#each response}}
            <tr>
                <td>{{data._id}}</td>
                <td>{{data.userName}}</td>
                <td>{{data.userEmail}}</td>
                <td>{{data.userIsAdmin}}</td>
                <td>{{data.createdOn}}</td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
